.chat-container{
  overflow-y: scroll;
  max-height: 60vh;
}

.theirs {
  float: left;
  background-color: #ccc;
  -webkit-border-radius: 10px 10px 10px 0;
  -moz-border-radius: 10px 10px 10px 0;
  border-radius: 10px 10px 10px 0;
}

.mine {
  float: right;
  background-color: lightblue;
  -webkit-border-radius: 10px 10px 0 10px;
  -moz-border-radius: 10px 10px 0 10px;
  border-radius: 10px 10px 0 10px;
}

.balloon {
  padding: 5px 10px;
  margin: 2px 0;
  display: block;
  max-width: 40%;
  overflow-x: hidden;
}
