<div class="container">
  <div class="jumbotron mt-5">
    <div class="col-12">
      <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" class="form-inline">
        <div class="form-group col-10">
          <input class="form-control col-12" formControlName="content" placeholder="Message">
        </div>
        <button class="btn btn-outline-success col-2" type="submit">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>
      </form>
    </div>

    <div class="chat-container mt-3">
      <div *ngFor="let message of messages$ | async" class="col-12">
        <div class="balloon"
             [class.theirs]="!mine(message)"
             [class.mine]="mine(message)">
          {{message.content}}
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
